# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [133]:
def lesser_of_two_evens(a,b):
    if a%2 ==0 and b%2 == 0:
        if (a<b):
            return a
        else:
            return b
    elif a>b:
        return a
    else:
        return b

In [142]:
#Alternate solution
def lesser_of_two_evens(a,b):
    if a%2 ==0 and b%2 == 0:
        return(min(a,b))
    else:
        return(max(a,b))

In [139]:
# Check
lesser_of_two_evens(2,4)

2

In [140]:
# Check
lesser_of_two_evens(2,5)

5

In [141]:
# Check
lesser_of_two_evens(7,5)

7

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [9]:
def animal_crackers(text):
    words = text.split(" ")
    return words[0][0] == words[1][0]

In [10]:
# Check
animal_crackers('Levelheaded Llama')

True

In [12]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [19]:
def makes_twenty(n1,n2):
    if n1==20 or n2==20 or n1+n2 ==20:
        return True
    else:
        return False

In [146]:
#Alternate solution
def makes_twenty(n1,n2):
    return n1==20 or n2==20 or n1+n2 ==20 #logical operators by default return a true or false. So not need for if--else

In [144]:
# Check
makes_twenty(20,10)

True

In [145]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [28]:
def old_macdonald(name):
    return name[0].upper() + name[1:3] + name[3].upper() + name[4:]

In [147]:
#Alternate solution using capitalize
def old_macdonald(name):
    return name[0:3].capitalize() + name[3:].capitalize()

In [150]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [154]:
def master_yoda(text):
    text_split = text.split()
    text_split_rev = [text_split[i] for i in range(len(text_split)-1,-1,-1)] #This is not required. Refer Alternative solution
    text_rev = " ".join(text_split_rev)
    print(text_rev)

In [152]:
#Alernate method
def master_yoda(text):
    text_split = text.split()
    text_split_rev = text_split[::-1]
    text_rev = " ".join(text_split_rev)
    print(text_rev)

In [153]:
# Check
master_yoda('I am home')

home am I

In [44]:
# Check
master_yoda('We are ready')

ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [45]:
def almost_there(n):
    if abs(n-100) <=10 or abs(n-200)<=10:
        return(True)
    else:
        return(False)

In [162]:
#Alternative solution
def almost_there(n):
    return (abs(n-100) <=10) or (abs(n-200)<=10)

In [163]:
# Check
almost_there(104)

True

In [164]:
# Check
almost_there(150)

False

In [165]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [166]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i] == 3 and nums[i+1] ==3:
            return(True)
            break
    else:
        return(False)

In [171]:
#Alternative methold
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return(True)
            break
    else:
        return(False)

In [172]:
# Check
has_33([1, 3, 3])

True

In [173]:
# Check
has_33([1, 3, 1, 3])

False

In [175]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [59]:
def paper_doll(text):
    returnstr = ''
    for each_char in text:
        returnstr = returnstr + each_char*3
    return(returnstr)

In [60]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [61]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [63]:
def blackjack(a,b,c):
    returnsum = a+b+c
    if a==11 or b==11 or c==11:
        return(returnsum - 10)
    elif returnsum > 21:
        return('BUST')
    else:
        return(returnsum)

In [176]:
#Alternate
def blackjack(a,b,c):
    if sum([a,b,c]) <=21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])<=31:
        return sum([a,b,c])-10
    else:
        return('BUST')

In [178]:
# Check
blackjack(5,6,7)

18

In [179]:
# Check
blackjack(9,9,9)

'BUST'

In [180]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [71]:
def summer_69(arr):
    ignore = False
    returnsum = 0
    for eachnum in arr:
        if eachnum==6:
            ignore = True
            continue
        elif eachnum==9:
            ignore = False
            continue
        elif ignore ==True:
            continue
        else:
            returnsum = returnsum + eachnum
    return(returnsum)

In [72]:
# Check
summer_69([1, 3, 5])

9

In [73]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [74]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [186]:
def spy_game(nums):
    nums_char = [str(nums[i]) for i in range(len(nums)) if nums[i]==0 or nums[i]==7]
    nums_str = "".join(nums_char)
    return '007' in nums_str

In [187]:
#Alternate method
def spy_game(nums):
    code=[0,0,7,'x']
    for num in nums:
        if num==code[0]:
            code.pop(0)
    
    return len(code)==1

In [188]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [189]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [190]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [201]:
def count_primes(num):
    count_prime = 0
    prime_list = []
    for eachnum in range(2,num+1):
        for i in range(2,eachnum):
            #print(f'Eachnum : {eachnum}; i : {i}')
            if eachnum%i ==0:
                break
        else:
            count_prime =count_prime + 1
            prime_list.append(eachnum)
    print(prime_list)
    print(count_prime)

In [199]:
#Alternate and effective method. 
def count_primes(num):
    count_prime = 0
    prime_list = []
    if num>=2:
        count_prime= count_prime + 1
        prime_list.append(2)
    
    if num>=3:
        for eachnum in range(3,num+1,2):
            for i in range(3,eachnum,2):
                #print(f'Eachnum : {eachnum}; i : {i}')
                if eachnum%i ==0:
                    break
            else:
                count_prime =count_prime + 1
                prime_list.append(eachnum)
    print(prime_list)
    print(count_prime)

In [202]:
# Check
count_primes(101)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101]
26

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!